:root {
	--colorDark: #000;
	--colorLight: #fff;
	--colorDarkLight: #303030;
}

.refreshBtn {
	display: inline-block;
}

/* Layout */
.layaout {
	width: 90%;
	max-width: 1110px;
	margin: 0 auto;
	padding-block: 32px 40px;
}

@media screen and (min-width: 47rem) {
	.appContainer {
		background-image: url(../public/assets/tablet/bg-image-daytime.jpg),
			linear-gradient(to bottom, rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	}

	.layaout {
		width: 80%;
		padding-block: 64px 80px;
	}
}

@media screen and (min-width: 64rem) {
	.appContainer {
		background-image: url(../public/assets/desktop/bg-image-daytime.jpg),
			linear-gradient(to bottom, rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	}
	.layaout {
		width: 70%;
		padding-block: 56px 98px;
	}
}

/* Quote */
.quote {
	display: flex;
	gap: 1.0625rem;
	max-width: 573px;
	align-items: flex-start;
	margin-bottom: 226px;
}

.quoteContent {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex-basis: 90%;
}

.quoteAuthor,
.quoteText {
	font-size: 12px;
}
@media screen and (min-width: 47rem) {
	.quoteContent {
		flex-basis: 100%;
	}

	.quoteAuthor,
	.quoteText {
		font-size: 18px;
	}
}
.quoteAuthor,
.quoteText {
	line-height: 22px;
	color: var(--colorLight);
}

.quoteAuthor {
	display: block;
	font-weight: 700;
}

/* Clock */

.clock {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.clockContent {
	margin-bottom: 48px;
}
@media screen and (min-width: 47rem) {
	.clockContent {
		margin-bottom: 80px;
	}
}

@media screen and (min-width: 60rem) {
	.clockContent {
		margin-bottom: 0;
	}

	.clock {
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-end;
		gap: 0;
	}

	.expand,
	.clockContent {
		flex-basis: 50%;
	}

	.expand {
		display: flex;
		justify-content: flex-end;
	}
}

.grettingContent {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.gretting {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 3px;
	color: var(--colorLight);
}

.time,
.timeBST,
.zoneText {
	font-weight: 700;
	color: var(--colorLight);
	text-transform: uppercase;
}

.time {
	font-size: clamp(100px, 20vw, 200px);
	letter-spacing: -2.5px;
	line-height: clamp(100px, 20vw, 200px);
}

.timeBST {
	font-size: clamp(15px, 5vw, 40px);
	font-weight: 300;
	line-height: 26px;
}

.zoneText {
	font-size: clamp(15px, 2vw, 24px);
	letter-spacing: clamp(3px, 1vw, 4px);
	line-height: 28px;
}

/* button */

.button {
	display: inline-block;
	background-color: var(--colorLight);
	border-radius: 28px;
	padding-block: 18px;
	padding-inline: 21px 9px;
}

.btnTxt {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 5px;
	line-height: 28px;
	color: var(--colorDark);
	opacity: 0.5;
	text-transform: uppercase;
	margin-right: 1rem;
}

.btnIcon {
	padding: 17px 14px;
	background-color: var(--colorDarkLight);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	text-align: center;
}
