.wrapper {
	display: flex;
	flex-flow: column wrap;
	gap: 24px;
	margin-bottom: clamp(48px, 2.5vw, 80px);
}

.currently {
	display: none;
}

@media screen and (min-width: 768px) {
	.currently {
		display: inline-block;
	}
}

@media screen and (min-width: 60rem) {
	.wrapper {
		align-self: end;
		grid-column: 1 / 4;
		margin-bottom: 0;
	}
}
