@tailwind base;
@tailwind components;
@tailwind utilities;

.MobileDay {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url(./public/assets/mobile/bg-image-daytime.jpg);
	background-blend-mode: darken;
}

.MobileNight {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url(./public/assets/mobile/bg-image-nighttime.jpg);
	background-blend-mode: darken;
}

@media screen and (min-width: 768px) {
	.TabletDay {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(./public/assets/tablet/bg-image-daytime.jpg);
		background-blend-mode: darken;
	}

	.TabletNight {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(./public/assets/tablet/bg-image-nighttime.jpg);
		background-blend-mode: darken;
	}
}

@media screen and (min-width: 1024px) {
	.DesktopDay {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(./public/assets/desktop/bg-image-daytime.jpg);
		background-blend-mode: darken;
	}

	.DesktopNight {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(./public/assets/desktop/bg-image-nighttime.jpg);
		background-blend-mode: darken;
	}
}
